---
import { createPublicClient, http } from 'viem';
import { sepolia } from 'viem/chains';

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { identityRegistryAbi } from '../abis/identityRegistryAbi';
console.log({identityRegistryAbi});

const SEPOLIA_IDENTITY_REGISTRY_CONTRACT_ADDRESS = "0x8004a6090Cd10A7288092483047B097295Fb8847";

const client = createPublicClient({
	chain: sepolia,
	transport: http(),
});

const blockNumber = await client.getBlockNumber();
const data = await client.readContract({
	address: SEPOLIA_IDENTITY_REGISTRY_CONTRACT_ADDRESS,
	abi: identityRegistryAbi.abi,
	functionName: 'tokenURI',
	args: [332]
});

console.log({data});
---

<!--
<Layout>
	<Welcome />
</Layout>
-->

<h1>{sepolia.name}</h1>
<p>Block Number: {blockNumber}</p>

<p>Description: {data}</p>
