---
import { createPublicClient, http } from 'viem';
import { sepolia } from 'viem/chains';

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { identityRegistryAbi } from '../abis/identityRegistryAbi';

const SEPOLIA_IDENTITY_REGISTRY_CONTRACT_ADDRESS = "0x8004a6090Cd10A7288092483047B097295Fb8847";

const client = createPublicClient({
	chain: sepolia,
	transport: http(),
});

const blockNumber = await client.getBlockNumber();
const agentDataString = await client.readContract({
	address: SEPOLIA_IDENTITY_REGISTRY_CONTRACT_ADDRESS,
	abi: identityRegistryAbi.abi,
	functionName: 'tokenURI',
	args: [332]
});
// agent_id, capabilities, description, endpoints, identity, timestamp, service_endpoint, version
const agentData = JSON.parse(agentDataString);
---

<Layout>
	<!--<Welcome />-->
</Layout>

<h1>{sepolia.name}</h1>
<p>Block Number: {blockNumber}</p>
<p>Identity Registry Contract Address: <a target="_blank" href={`https://sepolia.etherscan.io/address/${SEPOLIA_IDENTITY_REGISTRY_CONTRACT_ADDRESS}`}>{SEPOLIA_IDENTITY_REGISTRY_CONTRACT_ADDRESS}</a></p>

<p>Description: {agentData.description}</p>
